<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Agenda</h1>
        </div>
        <div class="card-body">
            {{#if agenda}}
            <ul class="list-group">
                {{#each agenda}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{name}} /
                    {{email}}
                    <a href="/delete/{{@key}}" class="btn btn-danger">
                        Borrar
                    </a>
                </li>
                {{/each}} 
            </ul>
            {{else}}
            <p>No contactos</p>
            {{/if}}
        </div>
         
            
        <div class="card-footer">
            <form action="/guardar" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>